html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body.startup-active {
  overflow: hidden !important;
}

body.startup-active footer {
  display: none !important;
  visibility: hidden !important;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Light.woff2") format("woff2"); 
  font-weight: 300;
  font-style: normal;
  /* This ensures text is visible immediately while the font loads */
  font-display: swap; 
}

/*  Hide navbar ONLY when the intro is actively running */
body:not(.intro-done) .main-navbar {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

/* Force navbar to stay visible on refresh and after animation */
body.intro-done .main-navbar {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.5s ease-in-out;
}